@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
.header {
  background-color: #ffcc00;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-title {
  font-family: "Festive";
  font-size: 1.5em;
}
.serch-var {
  width: 300px;
  height: 30px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.serch-var input[type="text"] {
  border: none;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  border-radius: 30px 0 0 30px;
  position: relative;
}
.serch-var input:focus {
  outline: none;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 25%);
}
.serch-var button {
  cursor: pointer;
  border: none;
  background: #000;
  padding: 0 10px;
  color: #ffcc00;
  height: 100%;
  border-radius: 0 25px 25px 0;
}
.serch-var button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 25%);
}
